fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
alembic
redis
python-dotenv
pydantic-settings
pydantic[email]
python-multipart
bcrypt==3.2.2
passlib[bcrypt]
python-jose[cryptography]
httpx
reportlab
qrcode
pytest
pytest-asyncio